{:lein     {:true "+dev"}
 :dev-http {8080 "public/"}
 :builds   {:app {:output-dir "public/js/"
                  :asset-path "."
                  :target     :browser
                  :modules    {:main {:init-fn minesweeper.core/main!}}
                  :devtools   {:after-load   minesweeper.core/reload!
                               :repl-init-ns minesweeper.core}
                  :release    {:output-dir "docs/js/"}
                  :dev        {:closure-defines {minesweeper.util/DEV true}}}}}