.grid {
  display: inline-flex;
  flex-direction: column;
  font-size: 13vh;
  position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.row {
  display: flex;
}

.cell {
  width: 17vh;
  height: 17vh;
  background-color: #555;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: solid 1px rgba(0,0,0,0.3);
}

.cell:hover {
  background-color: #aaa;
}

.revealed {
  background-color: #999;
  cursor: auto;
}

.revealed:hover {
  background-color: #999;
}
